@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@600&family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@600;700&family=Oswald:wght@300&display=swap');

html {
    scroll-behavior: smooth;
  }

body {
    background-color: rgb(15, 15, 15);
    margin: 0;
}
.btn {
    font-family: 'Lato', sans-serif;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: rgb(200, 200, 200);
    margin-top: 10px;
    font-size: 100%;
    transition: 0.5s;
    color: rgb(200, 200, 200);  
    font-weight: bold;
}

.btn:hover {
    transition: 0.5s;
    color: rgb(148, 148, 148);
}

@media only screen and (min-width: 1272px) {
.updates {
    margin-top: 20px;
    margin-left: 350px;
}}

@media only screen and (min-width: 1272px) {
.about {
    margin-left: 50px;
}}

@media only screen and (min-width: 1272px) {
.server_ip {
    margin-left: 50px;
}}

@media only screen and (min-width: 1272px) {
.contact_us {
    margin-left: 50px;
}}

.nav_line {
    margin-top: 20px;
    border: none;
    height: 1px;
    opacity: 0.1;
    background: rgb(200, 200, 200);
}


.img1 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    margin-left: 40px;
}


.navbar {
    position: absolute;
    overflow: hidden;
    background-color: rgb(15, 15, 15);
    position: fixed;
    top: 0;
    width: 100%;
    height: 61px;
}

.main {
    padding: 16px;
    margin-top: 30px;
    height: 200px;
    fill: black;
  }


  @media only screen and (min-width: 1272px) {
  .img2 {
    position: absolute;
    height: 23px;
    width: 30px;
    margin-left: 300px;
    margin-top: 18px;
  }
}

@media only screen and (min-width: 1272px) {
.join_us {
    position: absolute;
    margin-left: 350px;
    margin-top: 20px;
}}

.img3 {
    width: 100%;
}

.fcraft {
    color: rgb(200, 200, 200);
    position: absolute;
    left: 10%;
    top: 75px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font: 'Open Sans';
    font-size: 1000%;
}

.abt-header {
    margin-top: 5%;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: rgb(200, 200, 200);
    font-size: 500%;
}

.abt-para {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: rgb(200, 200, 200);
    font-size: 150%;
    margin-top: 40px;
}

@media only screen and (max-width: 1272px) {
    .img2 {
        opacity: 0;
    }
  }

  @media only screen and (max-width: 1272px) {
.img4 {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 85%;
    top: 13px;
}}

@media only screen and (min-width: 1272px) {
    .img4 {
        opacity: 0;
        height: 1px;
        width: 1px;
    }
}

.abt_line {
    width: 10%;
}

.undr_line {
    margin-top: 100px;
    opacity: 0.3;
    width: 70%;
}

.img5 {
    margin-top: 0%;
    z-index: 1;
    width: 30%;
    margin-left: 5%;
}

.img6 {
    margin-top: 0%;
    z-index: 1;
    width: 30%;
}

.img7 {
    margin-top: 0%;
    z-index: 1;
    width: 30%;
}

.btm_img {
    margin-top: 5%;
}

.sevip {
    text-align: center;
    font-size: 75px;
    color: rgb(225, 225, 225);
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
}

.big_div {
    width: 100%;
    height: 100%;
    background-image: url('images/img3.png');
}
